@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@layer utilities {
  .bg-radial-pattern {
      background-image: radial-gradient(circle, #F0F0F0 2.5px, transparent 1px);
      background-size: 2rem 2rem;
  }
}
